**Rules for Ignited Phoenix:**
1.Members must speak english (or at least know english).
2.Members must not criticize any community.
3.Members must be active once in 3 days in the GC.
4.Members must be patient, the people running this initiative still have academic load onto them.
5.Weekly material will be provided to teach everyone.
6.In case of any queries, contact any of the 3 admins in their dm.
7.The materials will be uploded on Google Drive, and the public link will be provided to members.
8.Members must have their discord id verified.
9.Instagram GC will launch soon, if the discord GC is a success.
10.Members CAN tease each other, but must respect everyone’s boundaires.
11.The hangout place is open for members, they can chat, date, make new bonds there.
12.Yes, Dating is allowed.
13.In case of fights, the admins must be provided with screenshots in their dm ASAP.
14.Members can play with each other, and use the game section for the same.
15.The GC is your’s, keep it active, fight free and respect everyone.
16.Regular meetings will be held by either of the admin during Sundays, in the evening 5:00 PM.
17.If members skip two consicutive meetings, they will be considered as offline and might be kicked from the GC.
18.However if anyone had a valid reason, they ought to inform the admin/moderator about the reason.
19.Small projects will be provided every week, and members must complete their project, upload it in Google Drive and attach the link in the google form.
20.Remember, admin/moderator will check your projects, so in case any member attaches any malicious software with their project, THE ADMIN/MODERATOR ISN’T MAD, THEY WILL DEFINATELY USE A VIRTUAL MACHINE TO CHECK YOUR FILES.
21.A shared spotify playlist will be released soon, and everyone can collaborate there on the playlist.
22.Use of vulgar language is strictly prohibited.
23. Codes will also be provided on Github.
24.Enjoy!!!
